<sly data-sly-use.heroImage="${ 'com.adobe.aem.guides.yamato.core.models.content.HeroImage' }"
    data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="">
    <div class="home-hero">
        <div class="home-hero-list" id="js-home-hero-slider" data-sly-list.image="${ heroImage.heroImages }">
            <div class="home-hero-item" data-sly-attribute="${ image.backgroundStyle }">
                <img src=""/>
                <div class="home-hero-item-contents">
                    <div class="home-hero-item-contents-inner">
                        <p class="home-hero-item-contents-title">
                        </p>
                        <div class="home-hero-item-contents-text">
                            <p>
                            </p>
                        </div>
                        <div class="home-hero-item-contents-more">
                            <a href="" class="button button-icon button-right-arrow">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !hasContent, classAppend = 'cq-dd-image'}"></sly>
