<sly data-sly-use.heroImage="${ 'com.adobe.aem.guides.yamato.core.models.content.HeroImage' }"
    data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${!heroImage.empty}">
    <div class="home-hero">
        <div class="home-hero-list" id="js-home-hero-slider" data-sly-list.image="${ heroImage.heroImages }">
            <div class="home-hero-item" data-sly-attribute="${ image.backgroundStyle }">
                <img src="${ image.src }"/>
                <div class="home-hero-item-contents ${ image.firstContents }">
                    <div class="home-hero-item-contents-inner">
                        <p class="home-hero-item-contents-title">
                            ${image.contentsTitle @ context='html'}
                        </p>
                        <div class="home-hero-item-contents-text">
                            <p>
                                ${image.contentsText}
                            </p>
                        </div>
                        <div class="home-hero-item-contents-more">
                            <a href="${image.url}.html" class="button button-icon button-right-arrow">
                                ${image.buttonLabel}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !hasContent, classAppend = 'cq-dd-image'}"></sly>
