<div>
    <footer class="global-footer">
        <div class="global-footer-inner">
            <div class="logo logo-pc">
                <a href="">
                    <img src="" alt="">
                </a>
            </div>
            <div class="global-footer-nav">
                <div class="global-footer-nav-column">
                    <div class="global-footer-nav-item">
                        <div class="global-footer-nav-link-with-trigger">
                            <a href="" class="global-footer-nav-link"></a>
                            <span class="global-footer-nav-child-trigger js-global-footer-nav-child-trigger"></span>
                        </div>
                        <div class="global-footer-nav-children">
                            <div class="global-footer-nav-child-item">
                                <a href="">${ page.title }</a>
                            </div>
                        </div>
                    </div>
                    <div class="global-footer-nav-item">
                        <a href="" class="global-footer-nav-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<sly></sly>
