<sly>
    <div class="form-row">
        <div class="form-label">
            <span class="required">必須</span>
        </div>
        <div class="form-field">
            <div class="select-wrapper">
                <select name="" class="select-type">
                    <option
                        value=""
                        selected=""
                        disabled="">
                    </option>
                </select>
                <label>
                    <input
                        type=""
                        name=""
                        checked=""
                        disabled=""
                        value="">
                </label>
            </div>
        </div>
    </div>
</sly>
<sly></sly>
