<div class="agree">
    <span class="mwform-checkbox-field horizontal-item">
        <label for="js-privacy-check-1">
            <input type="checkbox" name="個人情報の取り扱い[data][]" value="同意する" id="js-privacy-check-1"
                class="checkbox01-input" />
            <span class="mwform-checkbox-field-text">同意する</span>
        </label>
    </span>
    <input type="hidden" name="個人情報の取り扱い[separator]" value="," />
    <input type="hidden" name="__children[個人情報の取り扱い][]"
        value="{&quot;\u540c\u610f\u3059\u308b&quot;:&quot;\u540c\u610f\u3059\u308b&quot;}" />
</div>