<section class="contact-section01">
    <div class="inner">
        <div data-sly-include="current-flow.html"></div>
        <p class="form-prologue">弊社の製品・サービスに関するお問い合わせ、インターンシップのご応募等については、下記フォームよりお問い合わせください。<br>
            通常2～3営業日以内にご返信いたします。</p>
        <div id="mw_wp_form_mw-wp-form-16" class="mw_wp_form mw_wp_form_input">
            <form method="${ properties.method }" action="${ properties.action }" enctype="multipart/form-data">
                <div class="form-box">
                    <sly data-sly-resource="${ @ resourceType='wcm/foundation/components/parsys'}"></sly>
                    <div data-sly-include="policy.html"></div>
                    <div data-sly-include="agree.html"></div>
                    <div class="form-button">
                        <button type="submit" name="submitConfirm" value="confirm" class="form-button-submit">入力内容を確認</button>
                    </div>
                    <div class="form-button-box">
                        <div class="form-button-back"></div>
                        <div class="form-button-confirm"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
