<section class="contact-section01">
    <div class="inner">
        <sly data-sly-resource="${ 'current-flow' @ resourceType='yamato/components/form/form-current-flow', decorationTagName='div' }"></sly>
        <p class="form-prologue">弊社の製品・サービスに関するお問い合わせ、インターンシップのご応募等については、下記フォームよりお問い合わせください。<br />
            通常2～3営業日以内にご返信いたします。</p>
        <div id="mw_wp_form_mw-wp-form-16" class="mw_wp_form mw_wp_form_input">
            <form method="${ properties.method }" action="${ properties.action }" enctype="multipart/form-data">
                <sly data-sly-resource="${ @ resourceType='wcm/foundation/components/parsys'}"></sly>
            </form>
        </div>
    </div>
</section>
